/*
  웹에서의 색상 표현 방식
  - rgb(빛의 삼원색 , red, green, blue)
  - 가산 혼합방식 : 색상이 겹칠수록 더 밝아지는 개념
  - 각 색깔별 허용치 (0~255)
  - rgba를 쓰면 마지만 alpha값 투명도 조절 가능
*/

:root {
  --point-color: rgba(255, 105, 180, 0.5);
  --point-rgb: 255, 105, 100;
}

html {
  /* html의 폰트 크기 지정시 기본 rem단위 수정 가능 */
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-family: "Noto Sans KR";
}
a {
  font-family: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
