@import "reset.css";

body {
  padding: 100px;
  background-color: gray;
}
div {
  width: 600px;
  background-color: white;
  padding: 50px;
  margin: 0px auto;
  border-radius: 10px;
  text-align: center;
}

/*header*/
header {
  margin-bottom: 20px;
}
header h1 {
  font-family: "orbitron";
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}

header nav a {
  font: 500 0.8rem/1 "orbitron";
  letter-spacing: 1px;
  margin-right: 30px;
}

/* main */
main {
  margin-bottom: 40px;
}
main h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
main figure {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-bottom: 30px;
  overflow: hidden;
  margin: 0px auto;
  margin-bottom: 50px;
}
main p {
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: justify;
}
main a {
  background-color: black;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
}

/* footer */
footer {
  border-top: 1px solid black;
  padding: 20px 0px;
}
footer ul {
  font-size: 1.2rem;
  text-align: right;
}
footer ul li {
  display: inline;
}
footer p {
  font-size: 0.8rem;
  text-align: right;
}

/*
  rem 단위의 개념
  - 웹에서 텍스트 크기 지정할때 주로 쓰이는 단위
  - 1rem = 16px;
*/
