div {
  width: 980px;
  background-color: white;
  padding: 50px;
  margin: 0px auto;
  border-radius: 10px;
  text-align: center;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;

    h1 {
      font-family: "orbitron";
      font-size: 1.8rem;
      text-align: center;
      color: var(--point-lch);
    }

    nav {
      display: flex;
      gap: 40px;

      a {
        font: 500 0.8rem/1 "orbitron";
        letter-spacing: 1px;
        transition: 0.5s;

        &:hover {
          color: var(--point-lch);
          transform: scale(1.3);
        }
      }
    }
  }

  footer {
    border-top: 1px solid black;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      font-size: 1.2rem;
      display: flex;
      gap: 10px;
      order: 2;

      li {
        color: var(--point-lch);
        transition: 0.5s;

        &:hover {
          transform: rotate(360deg) scale(0);
          opacity: 0;
        }
      }
    }

    p {
      font-size: 0.8rem;
      order: 1;
    }
  }
}
