@use "variable";

body {
  padding: 100px;
  background-color: gray;
}
.wrap {
  width: 1200px;
  background-color: white;
  padding: 50px;
  margin: 0px auto;
  border-radius: 10px;
  text-align: center;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;

    h1 {
      font-family: "orbitron";
      font-size: 1.8rem;
      text-align: center;
      color: var(--point-lch);
    }

    nav {
      display: flex;
      gap: 40px;

      a {
        font: 500 0.8rem/1 "orbitron";
        letter-spacing: 1px;
        transition: 0.5s;

        &:hover {
          color: var(--point-lch);
          transform: scale(1.3);
        }
      }
    }

    .btnToggle {
      width: 28px;
      height: 20px;
      position: relative;
      cursor: pointer;
      display: none;

      p {
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        left: 0px;
        top: 50%;
        transition: 0.5s;

        &:nth-of-type(1) {
          transform: translateY(-10px) rotate(0deg);
          transition-delay: 0.1s;
        }
        &:nth-of-type(2) {
          transform: translateY(0px) translateX(0px);
          opacity: 1;
        }
        &:nth-of-type(3) {
          transform: translateY(10px) rotate(0deg);
          transition-delay: 0.2s;
        }
      }

      //btnToggle에 on클래스가 붙었을때
      &.on {
        p {
          background: var(--point-lch);

          &:nth-of-type(1) {
            transform: translateY(0px) rotate(225deg);
          }
          &:nth-of-type(2) {
            transform: translateY(0px) translateX(-30px);
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(0px) rotate(-225deg);
          }
        }
      }
    }
  }

  footer {
    border-top: 1px solid black;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      font-size: 1.2rem;
      display: flex;
      gap: 10px;
      order: 2;

      li {
        color: var(--point-lch);
        transition: 0.5s;

        &:hover {
          transform: rotate(360deg) scale(0);
          opacity: 0;
        }
      }
    }

    p {
      font-size: 0.8rem;
      order: 1;
    }
  }
}

.mobileMenu {
  width: 300px;
  height: 100vh;
  background: lch(var(--point-lch-code) / 0.8);
  position: absolute;
  top: 0px;
  left: -350px;
  backdrop-filter: blur(10px);
  box-shadow: 10px 0px 20px lch(0% 0 0 / 0.2);
  transition: 0.5s;

  &.on {
    left: 0px;
  }
}

// tablet
@media screen and (max-width: variable.$wid_tablet) {
  .wrap {
    width: 100%;

    header {
      justify-content: space-between;

      h1 {
        font-size: 1.4rem;
      }

      nav {
        display: none;
      }

      .btnToggle {
        display: block;
      }
    }
  }
}

//M.P
@media screen and (max-width: variable.$wid_mp) {
  body {
    padding: 0px;
  }
  .wrap {
    width: 100%;
    border-radius: 0px;

    header {
      h1 {
        font-size: 1.2rem;
      }
    }

    footer {
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;

      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}
