@use "variable";
.profile {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  figure {
    width: 35%;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: var(--point-lch);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1s;

      &:hover {
        transform: scale(1.5);
        opacity: 0.5;
      }
    }
  }

  article {
    width: 55%;
    text-align: left;

    p {
      line-height: 1.5;
      margin-bottom: 30px;
      text-align: justify;
      opacity: 0.5;
    }

    a {
      background-color: black;
      font-weight: bold;
      font-size: 0.7rem;
      color: white;
      width: 100px;
      height: 30px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
      border-radius: 15px;
      transition: 0.5s;

      &:hover {
        width: 150px;
        background-color: var(--point-lch);
      }
    }
  }
}

// tablet
@media screen and (max-width: variable.$wid_tablet) {
  main {
    flex-wrap: wrap;

    figure {
      width: 100%;
      height: 50vw;
    }

    article {
      width: 100%;
    }
  }
}

// m.p
@media screen and (max-width: variable.$wid_mp) {
  main {
    figure {
      height: 70vw;
    }
  }
}
