:root {
  --point-lch: hotpink;
}

/*
  미디어쿼리 사용시 break point값을 일반 css변수에 담아놓으면 문서가 렌더링될때 변수값이 읽히기 때문에 반응형 동작이 안됨

  해결방법
  - 문서 렌더링전 미리 서버쪽에서 break point수치값 설정되야함
  - scss변수는 변수값이 렌더링전 컴파일 시점에 읽히기 때문에 가능

  scss 변수 사용법
  - _varialbe.scss라는 변수등록 전용 파일 생성
  - 해당 파일안쪽에 $변수명: 값;
  - 해당 변수 호출하려고 하는 파일에 @use '파일명'
  - 파일명.$변수명

*/
html {
  font-size: 16px;
}
* {
  margin: 0px;
  padding: 0px;
  // padding값을 기존 블록요소 너비, 높이에 흡수 시킴
  box-sizing: border-box;
  color: inherit;
  font-family: "Noto Sans KR";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
  효율적인 RWD 작업을 위한 규칙
  1. 모바일 디바이스에서는 가로폭의 총합이 100%작업 (가로축에 px불가, 여백포함)
  2. 기존 데스크탑 대비 변경할 필요가 없는 코드는 미디어쿼리에 붙여넣기 할 필요 없음
  3. 높이값은 가급적 고정 px

*/
