:root {
  --point-lch: lch(65% 65 350);
  --point-lch-code: 65% 65 350;
}

html {
  font-size: 16px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
  font-family: "Noto Sans KR";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
fieldset {
  border: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  width: 100% !important;
  padding: 5px 10px;
  background: lch(var(--point-lch-code) / 0.1);
  border: 1px solid lch(0% 0 0 / 0.5);
  border-radius: 3px;
  resize: none;
}
input[type="checkbox"],
input[type="radio"] {
  margin-left: 5px;
  margin-right: 30px;
}
