:root {
  --point-lch: hotpink;
}
html {
  font-size: 16px;
}
* {
  margin: 0px;
  padding: 0px;
  // padding값을 기존 블록요소 너비, 높이에 흡수 시킴
  box-sizing: border-box;
  color: inherit;
  font-family: "Noto Sans KR";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
  효율적인 RWD 작업을 위한 규칙
  1. 모바일 디바이스에서는 가로폭의 총합이 100%작업 (가로축에 px불가, 여백포함)
  2. 기존 데스크탑 대비 변경할 필요가 없는 코드는 미디어쿼리에 붙여넣기 할 필요 없음
  3. 높이값은 가급적 고정 px

*/
