:root {
  --point-lch: lch(65% 65 350);
  --point-lch-code: 65% 65 350;
}

html {
  font-size: 16px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
  font-family: "Noto Sans KR";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
