:root {
  --point-lch: hotpink;
}

html {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-family: "Noto Sans KR";
}
a {
  font-family: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
